*{
    margin: 0;
    padding:0;
    box-sizing: border-box; 
    font-family: "Montserrat", sans-serif;
}    
*, *::before, *::after {
  box-sizing: border-box;
}    
    
html{
    color: #333;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
/* Define the animation for background color */
@keyframes colorChange {
  0% {
    background-color: #ff7f50; /* Starting color (Coral) */
  }
  25% {
    background-color: #6a5acd; /* Slate Blue */
  }
  50% {
    background-color: #20b2aa; /* Light Sea Green */
  }
  75% {
    background-color: #ff69b4; /* Hot Pink */
  }
  100% {
    background-color: #ff7f50; /* Back to Coral */
  }
}
/* Style the body to animate background */
body {
  margin: 0; /* Remove default margin */
  animation: colorChange 10s infinite ease-in-out;
}
@media (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}
/* Small desktops / landscape tablets */
@media (min-width: 1024px) {
  body {
    font-size: 16px;
  }
}
/* for tablet devices*/
@media (max-width: 840px) {
    body {
        font-size: 16px;
        margin: 0;
    }

}
/* Extra large phones */
@media (max-width: 768px) {
    body {
        font-size: 15px;
        /* Adjust for larger phones */
        overflow-x: hidden;
        margin: 0;
    }
}
/* Large phones */
@media (max-width: 460px) {
    body {
        font-size: 15px;
        /* Default font size */
        overflow-x: hidden;
        margin: 0;
    }
}
/* Medium phones */
@media (max-width: 360px) {
    body {
        font-size: 14px;
        /* Slightly larger font for better readability */
        overflow-x: hidden;
        margin: 0;

    }
}
/* Medium phones */
@media (max-width: 320px) {
    body {
        font-size: 14px;
        /* Slightly larger font for better readability */
        overflow-x: hidden;
        margin: 0;

    }
}

h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat", sans-serif;
    color: #333;
    font-weight: 600;
    text-align: center;
}
hr{
    border:none;
    height: 10px;
    background-color: #3b452662;
    margin: 20px 0;
}

.backToHomeLink {
   width:150px;
    height: 50px;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
    color: #f8f8f8;
    transition: background-color 0.3s ease;
}
.backToHomeLink:hover {
   background-color:#ED8171;
    color: #f8f8f8;
}
.registration-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    padding:20px;
    margin-top: 50px;
}
.registration-intro h1{
    color: #333;
    margin: 20px;
}
.registration-intro p{
    color: #f8f8f8;
    font-size: 18px;
    margin: 10px 0;

}
.registration-header{
   width: 100%;
    height: 100%;
    max-height: 800px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}
.registration-intro{
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
}
.intro{
    width:50%;
    height: 100%;

}
.intro video{
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding:10px;
    margin-bottom: 20px;

}
.registration-area{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
}
.registration-form-container {
  display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding:10px;
}
.registration-form-container form {
    width: 500px;
    height:600px;
    padding:20px;
    border-radius: 10px;
    background-color:beige;
}
.registration-form-container form input[type="text"],
.registration-form-container form input[type="email"],
.registration-form-container form input[type="password"] {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.registration-form-container form button{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
.registration-form-container form button:hover {
    background-color:#ff7f50;
    color: #f8f8f8;
}
.registration-info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 16px;
    color: #333;
}
textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical; /* Allow vertical resizing */
}

select{
    display:block;
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
select option {
    padding: 5px;
    font-size: 16px;
    color: #333;
    background-color: #f8f8f8;
}
/* Responsive styles for smaller screens */
@media (max-width: 840px) {
    .registration-container {
        width: 100%;
        height: auto;
        padding: 10px;
        /* Adjust padding for smaller screens */
    }
    .registration-header {
        width: 100%;
        height: auto;
        max-height: none;
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        padding: 20px;
        font-size: 20px;
        color: #333;
        margin-bottom: 10px;
    }
    .registration-intro {
        width: 100%;
        /* Adjust width for smaller screens */
    }
    .registration-area {
        flex-direction:row;
        /* Stack the form and video on smaller screens */
    }
    .registration-form-container form {
        width: 100%;
        /* Full width for smaller screens */
    }
    .intro {
        width: 100%;
        /* Full width for smaller screens */
        height: auto;
        /* Allow height to adjust based on content */
    }
    .intro video {
        width: 100%;
        /* Full width for video on smaller screens */
    }
   
}
@media (max-width: 768px) {
    .registration-container {
        width: 100%;
        height: auto;
        padding: 10px;
        /* Adjust padding for smaller screens */
    }
    .registration-header {
        width: 100%;
        height: auto;
        max-height: none;
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        padding: 20px;
        font-size: 20px;
        color: #333;
        margin-bottom: 10px;
    }
    .registration-intro {
        width: 100%;
        /* Adjust width for smaller screens */
    }
    .registration-area {
        flex-direction:row;
        /* Stack the form and video on smaller screens */
    }
    .registration-form-container form {
        width: 100%;
        /* Full width for smaller screens */
    }
    .intro {
        width: 100%;
        /* Full width for smaller screens */
        height: auto;
        /* Allow height to adjust based on content */
    }
    .intro video {
        width: 100%;
        /* Full width for video on smaller screens */
    }

}
@media(max-width: 540px){
    .registration-container {
        width: 100%;
        height: auto;
        padding: 10px;
        /* Adjust padding for smaller screens */
    }
    .registration-header {
        width: 100%;
        height: auto;
        max-height: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        font-size: 20px;
        color: #333;
        margin-bottom: 10px;
    }
    .registration-intro {
        width: 100%;
        /* Adjust width for smaller screens */
    }
    .registration-area {
        flex-direction: column;
        /* Stack the form and video on smaller screens */
    }
    .registration-form-container form {
        width: 100%;
        /* Full width for smaller screens */
    }
    .intro {
        width: 100%;
        /* Full width for smaller screens */
        height: auto;
        /* Allow height to adjust based on content */
    }
    .intro video {
        width: 100%;
        /* Full width for video on smaller screens */
    }
}
@media (max-width: 460px){
   .registration-container{
        width: 100%;
        height: 100%;
        padding: 10px;
        /* Adjust padding for smaller screens */
    }
  .registration-header{
        width: 100%;
        height: 100%;
        max-height: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        font-size: 20px;
        color: #333;
        margin-bottom: 10px;
    }
    .registration-intro {
        width: 90%;
        /* Adjust width for smaller screens */
    }
    .registration-area {
        flex-direction: column;
        /* Stack the form and video on smaller screens */
         padding:20px;
         margin: 0;
    }
    .registration-form-container form {
        width: 90%;
        /* Full width for smaller screens */
       
    }
    .intro {
        width: 100%;
        /* Full width for smaller screens */
        height: auto;
        /* Allow height to adjust based on content */
    }
    .intro video {
        width: 100%;
        /* Full width for video on smaller screens */
        height: auto;
        border-radius: 20px;
  }
  .registration-info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 16px;
    color: #333;
  }
   }

.footer {
    width: 100%;
    height: 150px;
    background-color: #ED8171;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
  
}

.footer p {
    margin: 5px 0;
    color: black;
    font-size: 14px;
    font-weight: 600;
}

.footer a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #04529D;
}

.footer a:active {
    color: #f8f8f8;
}

.footer a:visited {
    color: #f8f8f8;
}

.footer a:focus {
    color: #f8f8f8;
}
@media (max-width: 360px) {
    .footer {
        width:100%;
        /* Full width for smaller screens */    
        height: auto;
        /* Adjust height for smaller screens */
    }

    .footer p {
        font-size: 12px;
        /* Smaller font size for paragraphs */
    }

    .footer a {
        font-size: 16px;
        /* Smaller font size for links */
        padding:10px;
    }
    .footer a:hover {
        color: #04529D;
        /* Change color on hover */
    }
    .footer a:active {
        color: #f8f8f8;
        /* Change color on active */
    }
    .footer a:visited {
        color: #f8f8f8;
        /* Change color on visited */
    }
    .footer a:focus {
        color: #f8f8f8;
        /* Change color on focus */
    }

}
